In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# dir(Measurement)

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
temps_june = session.query(Measurement.date, Measurement.tobs).\
                filter(extract('month', Measurement.date) == 6).all()
# print(temps_june)

In [6]:
#  3. Convert the June temperatures to a list.
temps_june = []
temps_june = session.query(Measurement.date, Measurement.tobs).\
                filter(extract('month', Measurement.date) == 6).all()
# temps_june

In [7]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(temps_june, columns=['date', 'June Temps'])
df_june.set_index(df_june['date'], inplace=True)
df_june = df_june.sort_index()
# print(df_june.to_string(index=False))

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
temps_dec = session.query(Measurement.date, Measurement.tobs).\
                filter(extract('month', Measurement.date) == 12).all()
# print(temps_dec)

In [10]:
# 7. Convert the December temperatures to a list.
temps_dec = []
temps_dec = session.query(Measurement.date, Measurement.tobs).\
                filter(extract('month', Measurement.date) == 12).all()
# temps_dec

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_dec = pd.DataFrame(temps_dec, columns=['date', 'Dec Temps'])
df_dec.set_index(df_dec['date'], inplace=True)
df_dec = df_dec.sort_index()
# print(df_dec.to_string(index=False))

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_dec.describe()

         Dec Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## Additional Queries for June and December

In [13]:
# Query for June precipitation
prcp_june = session.query(Measurement.date, Measurement.prcp).\
                filter(extract('month', Measurement.date) == 6).all()
# print(prcp_june)

In [14]:
# Add June precipitation to list
prcp_june = []
prcp_june = session.query(Measurement.date, Measurement.prcp).\
                filter(extract('month', Measurement.date) == 6).all()
# prcp_june

In [15]:
# Convert June list to DataFrame
df_june_prcp = pd.DataFrame(prcp_june, columns=['date', 'June prcp'])
df_june_prcp.set_index(df_june_prcp['date'], inplace=True)
df_june_prcp = df_june_prcp.sort_index()
# print(df_june_prcp.to_string(index=False))

In [16]:
# Summary Statistics for June Precipitation
df_june_prcp.describe()

         June prcp
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [17]:
# Query for December precipitation
prcp_dec = session.query(Measurement.date, Measurement.prcp).\
                filter(extract('month', Measurement.date) == 12).all()
# print(prcp_dec)

In [18]:
# Add December precipitation to list
prcp_dec = []
prcp_dec = session.query(Measurement.date, Measurement.prcp).\
                filter(extract('month', Measurement.date) == 12).all()
# prcp_dec

In [19]:
# Convert December list to DataFrame
df_dec_prcp = pd.DataFrame(prcp_dec, columns=['date', 'Dec prcp'])
df_dec_prcp.set_index(df_dec_prcp['date'], inplace=True)
df_dec_prcp = df_dec_prcp.sort_index()
# print(df_dec_prcp.to_string(index=False))

In [20]:
# Summary Statistics for December Precipitation
df_dec_prcp.describe()

          Dec prcp
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000